ul,
ol {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  margin: 1rem auto;
}

.navbar {
  width: 100%;
}

.chat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  background-color: #DADADA;

  .login-form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
  }

  .main-box {
    width: 79%;
    height: calc(100vh - 64px);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .select-chat-warn {
      color: gray;
      pointer-events: none;
    }

    .messages-list-container {
      flex: 1 1 auto;
      margin-bottom: 30px;
    }

    .message-input-container {
      flex: 0 0 auto;
      height: 100px;
    }
  }

  .chat-list-container {
    width: 20%;
    height: 100%;
    background-color: #fff;

    ul {
      list-style: none;
    }

    li {
      cursor: pointer;
      padding: 15px 5px 15px 20px;

      &.selected {
        background-color: #61dafb;
      }
    }
  }

  .messaging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    .messages-container {
      flex: 1 1 auto;
      height: calc(100% - 200px);
      width: calc(100% - 40px);
      padding: 20px;

      .messages-list {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .message-item {
        margin: 20px 0;
        padding: 20px 20px;
        width: 100%;
        max-width: 420px;
        border: 1px solid gray;
        background-color: #fff;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);

        &.me {
          align-self: flex-end;
          background-color: rgb(143, 235, 143);
        }

        .sender {
          margin-bottom: 10px;
          font-weight: bold;
        }

        .time {
          color: gray;
          font-size: 0.8rem;
          margin-top: 10px;
          text-align: right;
        }
      }
    }

    .input-container {
      width: calc(100% - 10px);
      height: 100px;
      padding: 20px 5px;
      display: flex;
      justify-content: center;

      textarea {
        width: 99%;
        height: 100%;
        margin: 0 auto;
        border: 1px solid gray;
        outline: none;
        border-radius: 5px;
      }
    }
  }
}